@font-face {
   font-family: 'Candy Script Regular';
   font-display: swap;
   src: url('file:///Users/sachinkhandelwal/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-08-28_181056/fonts/Candy%20Script%20Regular/font.ttf');
}
